/*Style Css in index.html*/
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    flex-direction: row;
    padding: 2%;
    margin: 4%;
}
.flex-container{
    display: flex;
    justify-content: center;
}
h1{
    font-family: 'Sedgwick Ave', cursive;
    padding: 3px;
    color: #f0f0f0;
}
p{
    font-family: 'Sedgwick Ave', cursive;
    color: #f0f0f0;
}
h2{
    font-family: 'Sedgwick Ave', cursive;
    padding: 3px;
    color: #f0f0f0;
}
#menu-index li{
    display: inline;
    padding: 10px;
}
#menu-index li a{
    color:white;
    text-decoration: none;
    font-size: 25px;
    font-family: 'Sedgwick Ave', cursive;
}
#menu-index li a:hover{
    color: grey;
}
.foto{
    width: 250px;
    height: 250px;
    border-radius: 10%;
}
body#index{
    padding: 0%;
    margin: 0%;
    background-image: url(../img/background1.gif);
}
header{
    text-align: end;
    margin-right: 40px;
}
.center{
    text-align: center;
}
.center#curiosidades{
    font-size: 15px;
    color: #f0f0f0;
}
.tm-social{
    width: 50px;
    height: 50px;
    padding-left: 25px;
    padding-right: 25px;
}
.mr-bt{
    margin-bottom: 20px;
}
.mr-lf{
    margin-left: 60px;
}
.mr-rg{
    margin-right: 60px;
}
.mr-tp{
    margin-top: 20px;
}

#menu-contato li{
    display: inline;
    padding: 10px;
}
#menu-contato li a{
    color: black;
    text-decoration: none;
    font-size: 25px;
    font-family: 'Sedgwick Ave', cursive;
}
#menu-contato li a:hover{
    color: blue;
    
}
.bo-rd{
    border-radius: 50%;
}
#ctt{
    color:black;
    font-family: 'Sedgwick Ave', cursive;
}
#contato{
    background-image: url(../img/background2.gif);
}
/*Style Css in contato.html*/